<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ post.id }}</p>
  </div>

  <div>
    <strong>Title:</strong>
    <p>{{ post.title }}</p>
  </div>

  <div>
    <strong>Body:</strong>
    <p>{{ post.body }}</p>
  </div>

  <div class="mt-4">
    <h3>Comments</h3>
    @for (comment of comments; track comment.id) {
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ comment.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ comment.email }}</h6>
        <p class="card-text">{{ comment.body }}</p>
      </div>
    </div>
    } @empty {
    <p>No comments found.</p>
    }
  </div>
</div>
